    margin-right: 35px;
    height: 36px;
    width: 201px;
    display: flex;

    }

    header h1 {
        color: #000;
        font-family: Open Sans;
        font-size: 32px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }

    nav {

        border-radius: 20px;
        background-color: blue;
        height: 728px;
        width: 82px;
    }

    nav img {
        width: 10px;
    }