:root {
    --mainfont: Open Sans;
    --base-color:#6CAE75;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

body {
    display: flex;
    font-family: var(--mainfont);
}

aside {
    background-color: #6CAE75;
    height: 728px;
    width: 82px;
    margin: 20px 54px 20px 40px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    background-color: #FFF;
    height: 60px;
    width: 73px;
    border-radius: 20px 0px 0px 20px;
    margin-left: 11px;
}

.home-icon img {
    margin-left: -10px;
}

.icon img{
    width: 40px;
    height: 40px;
}

.icon:nth-child(2),
.icon:nth-child(3){
    margin-top: 40px;
}

.icon:nth-child(4){
    margin-top: 325px;
}

header {
    display: flex;
    height: 118px;
    width: 804px;
    justify-content: center;
    align-items: center;
}

header h1 {
    color: #000;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
}

.logo img {
    width: 200px;
    height: 36px;
    margin-right: 35px;
}

section {
    height: 622px;
    width: 836px;
}

.table {
    height: 70px;
    width: 831.995px;
    margin: 30px auto;
    display: flex;
    background-color: #fff;
    border-radius: 10px;
}

.table:nth-child(even) {
    background-color: #F9F9F9;
}

/* .bar {
    height: 60px;
    width: 2px;
    background-color: #A6E796;
    display: flex;
    justify-self: center;
    align-self: center;
    border-radius: 10px;
}
*/


.info {
    flex-direction: column;
}

.table h3 {
    margin: 10px 0px 0px 22px;
}
.table p {
    margin-left: 22px;
}

.date {
    display: flex;
    flex-direction: row;
    color: #000;
    font-family: var(--mainfont);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    margin-left: 320px;
    width: 246;
    justify-content: center;
    align-items: center;
}





